@font-face{
	font-family: 'starwarslist';
	src: url("/swapi/include/STARWARS.ttf");
}
@font-face{
	font-family: 'starwars';
	src: url("/swapi/include/Starjedi.ttf");
}
body{
	background-color:black;
}
ul#list{
	width:100%;
	height:100%;
}

ul#list li.element{
	width: 32%;
	height: 180px;
	margin: 0 auto;
	margin-top:50px;
	margin-right:5px;
	margin-left:5px;
	padding-top:10px;
	padding-right: 5px;
	padding-left: 5px;
	background: black;
	vertical-align: middle;
	border-bottom:1px solid yellow;
	list-style-type:none;
	float: left;
	color:#ffe300;
	text-align:center;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	text-transform: uppercase;
	transform: perspective(800px) rotateX(50deg);
}

ul#list li.element:hover{
	background-color:#ffe300;
	color:black;
}

ul#list li.element:nth-child(odd) {
  float:left;
}

.element{
	margin-top:100px;
}

li.element{
	font-size:28px;
	font-family: 'starwarslist'
}
h2#sec_title{
	color:white;
	text-align:center;
	font-family: 'starwarslist';
	border-bottom:1px solid yellow;
	padding-top: 100px;
	text-transform: uppercase;
}
h2#sec_title span{
	color:#ffe300!important;
	font-family: 'starwars';
}