#popup{
	display:none;
	height:auto;
	width:99%;
	height:auto;
	border:1px solid black;
	position:absolute;
	background-color:rgba(0,0,0,.7);
	border-radius: 10px;
}
#popup table, th, td{
	border-collapse: collapse;
	position:relative;
	color:white;
}
button#close{
	float: right;
	top:0;
	margin-right:10px;
	position:relative;
}