#popup{
	display:none;
	width:70%;
	height:auto;
	margin: 0 auto;
	top:30%;
	left:48%;
	transform: translateX(-50%);
	position:absolute;
	background-color:transparent;
	z-index:2;
}
#popup table, th, td{
	border-collapse: collapse;
	position:relative;
	color:white;
	font-size:20px;
	font-family: 'starwarslist'
	text-align:center;
}

#popup table{
	margin-top:50px;
	border-radius: 10px;
}

#popup tr{
	margin-left:30px;
}

#popup th{
	padding:10px;
	background-color:#ffe300;
	color:black;
	font-family: 'Arial'
}

#popup td{
	padding:10px;
	margin-left: 20px;
	background-color:white;
	color: black;
	font-size:25px;
	font-family: 'starwarslist'
}
button#close{
	float: right;
	top:0;
	position:relative;
	padding:20px;
	margin-right:80px;
	background-color: white;
	font-size:30px;
	color: black;
	border:none;
	transform: translateY(-24px);
}
button#close:hover{
	background-color:#ffe300;
}

td#sw_opening{
	padding:10px;
	margin-left: 20px;
	font-size:30px;
	background-color:black;
	overflow: visible;
	color:#ffe300;
	transform: perspective(2000px) rotateX(45deg) translateY(-600px);
	font-family: 'starwarslist';
	position: absolute;
}
img#tag_image{
	width:auto;
	height:auto;
}